@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.cdnfonts.com/css/tahoma');

@layer base {
  html {
    font-family: 'Tahoma', sans-serif;
  }
}

@layer components {
  .card {
    @apply relative flex flex-col items-center justify-center rounded-2xl bg-white shadow-inner;
  }

  .card-big {
    @apply min-w-[296px] min-h-[345px];
  }

  .card-small {
    @apply min-w-[296px] min-h-[323px];
  }

  .card-inner {
    @apply rotate-[2.55deg] bg-ui-light-gray rounded-2xl min-w-[260px];
  }

  .ellipse {
    @apply border border-ui-dark-gray rounded-full;
  }
}

.wrapper {
  width: calc(100vw - 24px);
  max-width: calc(100vw - 24px);
}

@media screen and (min-width: 960px) {
  .wrapper {
    max-width: unset;
  }
}

.burger-button__line--1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}

.burger-button__line {
  fill: none;
  stroke: black;
  stroke-width: 6;
  -webkit-transition: stroke-dasharray 0.6s cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 0.6s cubic-bezier(0.4, 0, 0.2, 1);
  transition: stroke-dasharray 0.6s cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 0.6s cubic-bezier(0.4, 0, 0.2, 1);
}

.burger-button__line--2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}

.burger-button__line {
  fill: none;
  stroke: black;
  stroke-width: 6;
  -webkit-transition: stroke-dasharray 0.6s cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 0.6s cubic-bezier(0.4, 0, 0.2, 1);
  transition: stroke-dasharray 0.6s cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 0.6s cubic-bezier(0.4, 0, 0.2, 1);
}

.burger-button__line--3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}

.burger-button-opened .burger-button__line--1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
  stroke: white;
}

.burger-button-opened .burger-button__line--2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
  stroke: white;
}

.burger-button-opened .burger-button__line--3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
  stroke: white;
}

.burger-menu {
  transition: all 0.5s ease;
}

.burger-menu ul {
  display: none;
}

.burger-active {
  transition: all 0.5s ease;
  left: 0;
  opacity: 1;
  z-index: 2;
}

.burger-active ul {
  display: block;
}

.link:active rect {
  fill: white;
}

.link:active path {
  fill: orange;
}

.flip-cards {
  display: none !important;
}

.flip-card {
  perspective: 1000px;
  cursor: pointer;
}

.flip-card-inner {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: transform 0.5s;
  box-shadow: -2px 2px 4px 0px rgba(43, 93, 162, 0.08),
    4px 4px 6px 0px rgba(43, 93, 162, 0.06),
    -2px -2px 4px 0px rgba(43, 93, 162, 0.1) inset;
  transform-style: preserve-3d;
}

.flip-card-front {
  cursor: pointer;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform: rotate(2.54deg);
}

.flip-card-back {
  transform: rotate(-2.54deg) rotateY(180deg);
}

.fade-in {
  animation: fade-in 1s ease-in-out;
}

.fade-in-delay {
  animation: fade-in-delay 1s ease-in-out;
}

@media screen and (min-width: 960px) {
  .wrapper {
    max-width: unset;
  }

  .flip-cards {
    display: block !important;
  }

  .main-header {
    display: flex !important;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-in-delay {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

body {
  overflow: hidden;
}
