@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.cdnfonts.com/css/tahoma');

@layer base {
  html {
    font-family: 'Tahoma', sans-serif;
  }
}

@layer components {
  .card {
    @apply relative flex flex-col items-center justify-center rounded-2xl bg-white shadow-inner;
  }

  .flip-card {
    @apply origin-top-left absolute opacity-0 pointer-events-none;
  }

  .card-big {
    @apply min-w-[296px] min-h-[345px];
  }

  .card-small {
    @apply min-w-[296px] min-h-[323px];
  }

  .card-inner {
    @apply bg-ui-light-gray rounded-2xl rotate-[2.56deg] min-w-[260px];
  }

  .flip-card-inner {
    @apply bg-white rounded-2xl  relative flex flex-col items-center justify-center;
  }

  .flip-card-front {
    @apply bg-ui-light-gray cursor-pointer rounded-2xl flex flex-col items-center justify-center;
  }

  .flip-card-back {
    @apply flex flex-col items-center justify-center bg-ui-black rounded-2xl;
  }

  .ellipse {
    @apply border border-ui-dark-gray rounded-full;
  }

  .divider {
    @apply border border-white mt-7 min-w-[224px] px-9;
  }
}

.wrapper {
  width: calc(100vw - 24px);
  max-width: calc(100vw - 24px);
}

@media screen and (min-width: 960px) {
  .wrapper {
    max-width: unset;
  }
}

.burger-button__line--1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}

.burger-button__line {
  fill: none;
  stroke: black;
  stroke-width: 6;
  -webkit-transition: stroke-dasharray 0.6s cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 0.6s cubic-bezier(0.4, 0, 0.2, 1);
  transition: stroke-dasharray 0.6s cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 0.6s cubic-bezier(0.4, 0, 0.2, 1);
}

.burger-button__line--2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}

.burger-button__line {
  fill: none;
  stroke: black;
  stroke-width: 6;
  -webkit-transition: stroke-dasharray 0.6s cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 0.6s cubic-bezier(0.4, 0, 0.2, 1);
  transition: stroke-dasharray 0.6s cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 0.6s cubic-bezier(0.4, 0, 0.2, 1);
}

.burger-button__line--3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}

.burger-button-opened .burger-button__line--1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
  stroke: white;
}

.burger-button-opened .burger-button__line--2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
  stroke: white;
}

.burger-button-opened .burger-button__line--3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
  stroke: white;
}

.burger-menu {
  transition: all 0.5s ease;
}

.burger-menu ul {
  display: none;
}

.burger-active {
  transition: all 0.5s ease;
  left: 0;
  opacity: 1;
  z-index: 2;
}

.burger-active ul {
  display: block;
}

.link:active rect {
  fill: white;
}

.link:active path {
  fill: orange;
}

.flip-cards {
  display: none !important;
}

.flip-card {
  perspective: 900px;
  filter: blur(0);
  -webkit-font-smoothing: antialiased;
}

.card {
  box-shadow: -2px 2px 4px 0px rgba(43, 93, 162, 0.08),
    4px 4px 6px 0px rgba(43, 93, 162, 0.06),
    -2px -2px 4px 0px rgba(43, 93, 162, 0.1) inset;
}

.flip-card-inner {
  transition: transform 0.5s;
  box-shadow: -2px 2px 4px 0px rgba(43, 93, 162, 0.08),
    4px 4px 6px 0px rgba(43, 93, 162, 0.06),
    -2px -2px 4px 0px rgba(43, 93, 162, 0.1) inset;
  transform-style: preserve-3d;
  cursor: pointer;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform: rotate(2.54deg);
}

.flip-card-back {
  transform: rotate(-2.54deg) rotateY(180deg) translateZ(1px);
}

.fade-in-menu {
  animation: fade-in 0.5s ease-in-out;
  opacity: 1;
}

.fade-in-delay {
  opacity: 1;
  transition: opacity 0.5s 0.3s ease-in-out;
}

.fade-in-header {
  animation: fade-in 1s;
  animation-timing-function: cubic-bezier(0.5, 0.25, 0.5, 0.75);
}

@media screen and (min-width: 960px) {
  body {
    overflow: hidden;
  }

  .wrapper {
    max-width: unset;
  }

  .flip-cards {
    display: block !important;
  }

  .main-header {
    display: flex !important;
    pointer-events: all;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0%;
  }

  40% {
    opacity: 40%;
  }

  60% {
    opacity: 60%;
  }

  80% {
    opacity: 80%;
  }

  100% {
    opacity: 100%;
  }
}

#scene {
  overflow: hidden;
}

@keyframes reveal {
  0% {
    width: 100%;
  }

  20% {
    width: 80%;
  }

  40% {
    width: 60%;
  }

  60% {
    width: 40%;
  }

  80% {
    width: 20%;
  }

  100% {
    width: 0%;
  }
}

.reveal-animated {
  animation: reveal 1s;
  animation-fill-mode: both;
  animation-timing-function: linear;
  background: linear-gradient(90deg, transparent 0%, #f3f4f7, #f3f4f7 100%);
}

.logo-icon-black .logo-letter {
  fill: #313c4e;
}

.logo-icon-black .logo-bg {
  fill: #ffffffff;
}
